img {
    height: auto;
    max-width: 100px;
    margin: 10px;
}

.Delete {
    border-style: groove;
    border-width: 7px;
    border-color: dodgerblue;
    border-radius: 15px;
    margin: 0.5%;
    padding: 0.5%;
    font-size: 0.88rem;
    width: 11.2rem;
    height: 19rem;
}

.Nominate {
    border-style: groove;
    border-width: 7px;
    border-color: firebrick;
    border-radius: 15px;
    margin: 0.5%;
    padding: 0.5%;
    font-size: 0.88rem;
    width: 11.2rem;
    height: 19rem;
}