h2{
    text-decoration: underline;
}

#searchBar{
    border-style: double;
    border-width: 5px;
    border-color: hotpink;
    border-radius: 15px;
    margin: 0.5%;
    padding: 0.5%;
    

}

@media only screen and (max-width: 974px) {
    #nominees{
        flex-flow: row wrap;
    }
}